language: minimal

services: docker

env:
    global:
        - IMAGE_TAG=$TRAVIS_COMMIT

install:
    - travis_retry docker-compose -f docker/docker-compose.yml build
    - travis_retry docker-compose -f docker/docker-compose.dev.yml build

script:
    - make all-tests
    - .travis/smoke-test.sh

after_success:
    - .scripts/travis/push-image.sh search

deploy:
    provider: script
    script: .scripts/travis/downstream.sh environments "Update search to $TRAVIS_COMMIT"
    on:
        branch: master

if: |
    branch = master OR \
    branch =~ /^[0-9\.]+$/ OR \
    tag IS present OR \
    type = pull_request
